
  @import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&family=Nerko+One&family=Raleway:wght@300;400&family=Roboto:ital,wght@0,500;1,300&display=swap');
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#body{
  background-color: #041673;
  font-family: 'Roboto', sans-serif
}
#body::-webkit-scrollbar{
  width: 12px;
  background-color: #041673;
}
#body::-webkit-scrollbar-thumb{
  width: 12px;
  background-color: rgba(14, 216, 14, 0.744);
  border-radius: 12px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title{
  font-family: 'Nerko One', cursive;
}